<!DOCTYPE html>
<html>
  <head>
    <title>{{ .FullName }}</title>
  </head>
  <body>
    <h1>{{ .FullName }}</h1>

    <div>
      <ul>
        <li><a href="/?repo={{ .FullName | urlquery }}">Source repository</a></li>
      </ul>
    </div>

    <h2>Create new repository mirror</h2>
    <p>
      <form action="/mirror" method="POST">
        <input name="action" type="hidden" value="create"/>
        <div>
          <label for="repo">Repository:</label>
          <input id="repo" name="repo" type="text" value="{{ .FullName }}" readonly="true"/>
        </div>
        <div>
          <button type="submit">Proceed</button>
        </div>
      </form>
    </p>
  </body>
</html>
