<!DOCTYPE html>
<html>
  <head>
    <title>{{ .Repo.FullName }}</title>
  </head>
  <body>
    <h1>{{ .Repo.FullName }}</h1>
    <div>
      <em>{{ .Repo.Description }}</em>
    </div>
    <div>
      <a href="{{ .Repo.HTMLURL }}">View on GitHub</a>
    </div>

    <p>Latest master update {{ .LastCommit.SHA }} "{{ .LastCommit.Message }}"  by {{ .LastCommit.Author.Name }} on {{ .LastCommit.Author.Date.Format "2006-01-02 15:04 MST" }}</p>
  </body>
</html>
