<!DOCTYPE html>
<html>
  <head>
    <title>{{ .FullName }}</title>
  </head>
  <body>
    <h1>{{ .FullName }}</h1>
    <div>
      <em>{{ .Description }}</em>
    </div>
    {{ if .HTMLURL }}
      <div>
        <a href="{{ .HTMLURL }}">View on GitHub</a>
      </div>
    {{ end }}

    <p>Latest master update {{ .LatestMasterCommit.SHA }} "{{ .LatestMasterCommit.Message }}"  by {{ .LatestMasterCommit.Author }} on {{ .LatestMasterCommit.Date.Format "2006-01-02 15:04 MST" }}</p>
  </body>
</html>
